*{
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.body{
margin: 0;
padding: 0;
}
.container{
width: 70%;
margin: 10px auto;
height: 90vh;
text-align: center;

}
.container h1{
font-size: 3em;
border-bottom: 3px solid pink;
border-right: 2px solid pink;
color: rgb(62, 62, 167);
/* transform: translate(-5px,0px); */
}
.contact_pic{
width: 47px;
}
li{
list-style: none;
}
ul{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.container_items{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.container_items h3{
font-size: 26px;
}
button{
border: 2px solid #0071e2;
background-color:#0071e2 ;
border-radius: 0.9em;
padding: 0.5em 1.2em 0.8em 1em;
transition: all ease-in-out 0.2s;
font-size: 15px;
font-weight:bold;
height: 50px;
color: white;
}
button span {
color: #fff;
font-weight: 600;
}
button:hover {
background-color:  #24b4fb;
cursor: pointer;
}
.group {
display: flex;
line-height: 28px;
align-items: center;
position: relative;
}
.input {
height: 40px;
line-height: 28px;
padding: 0 1rem;
width:92%;
padding-left: 2.5rem;
border: 2px solid ;
border-radius: 8px;
outline: none;
background-color: #fbfefa;
color: #26226f;
transition: .3s ease;
font-size: 20px;
}
.input::placeholder {
color: #264993;
font-size: 15px;
}
.icon {
position: absolute;
left: 2rem;
fill: #1b489b;
width: 1rem;
height: 2.5rem;
}
.form{
display: flex;
flex-direction: column;
gap: 20px;
}
.button1{
width: 9rem;
}

.button2{
width: 9rem;
background-color: rgb(177, 42, 42);
border: 2px solid rgb(177, 42, 42);
}
.button2:hover{
background-color: rgb(255, 0, 0);

}
a{
text-decoration: none;
color:inherit;
}


.table{
border-collapse: collapse;  
margin: 20px 0;
font-size: 20px;
border-radius: 10px 10px 0 0;
overflow: hidden;
width: 100%;
}

.table td{
padding: 12px 15px;
text-align: left;
font-weight: bolder;
}
.table tr{
border-bottom: 1px solid #dddddd;
}

.table tr:nth-of-type(even){
background-color: #ffffff;

}
.table tr:nth-of-type(odd){
background-color: #dcd7d5;

}
.table tr:last-of-type{
border-bottom: 2px solid #0f4c78;
}
.phone{
width: 18px;
}

#phonenumber{
font-size:15px;
font-weight: lighter;
}
.ionicon {
cursor: pointer;
width: 30px;
}

@media only screen and (max-width:600px){
.container{
width: 100%;
margin: 10px auto;
text-align: center;
}
.container h1{
font-size: 1.3em;
}

.table{  
margin: 20px 0;
font-size: 15px;
}
.container_items h3{
font-size: 20px;
}

button{
height: 50px;
}

.input {
height: 30px;
font-size: 15px;
}
.icon {
left: 2rem;
height: 2rem;
}
.input::placeholder {

  font-size: 13px;
  }
.phone{
width: 13px;
}
#phonenumber{
font-size:12px;
}
}

@keyframes movearound {
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0px);
  }
}
